*{
    box-sizing: border-box;
}

h1{
    color: #25d366;
}

.card>.time{
    float: right;
    color: #435a64;
    font-size: 12px;
    padding-right: 5px;
}

.card>.tick{
    float: right;
    padding-top: 4px;
}
.card a{
    color: #34b7e1;
}
#chat>.card:nth-child(even)
{
    margin-right: 0;
    margin-left: auto;
    background-color:#dcf8c6;
}
#chat>.card{
    padding: 7px 14px 16px 14px;
    background-color:#ffffff;
    
    /* min-width: 70px; */
    max-width: 45%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #848484;
    /* color: #e7cb95; */
    overflow: auto;
    
}
body{
    background-color: #ece5dd;;
    padding: none;
    /* margin: 0; */
}
p{
    margin: 0;
}
#chat{
    background-color: #ece5dd;
    padding: 14px 10px;
    background-image: url('chat\ background.png');
}
#paper{
    box-shadow: 1px 1px 10px #848484;
    margin: 7px 14px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
#head{
    background-color: #075e54;
    border-radius: 10px 10px 0px 0px;
    /* padding: 10px 10px 60px 10px; */
    /* overflow: auto; */
    display: flex;
    justify-content: flex-start;
}
#head p{
    color: #fff;
}
#head #name{
    
    font-size: 1.3em;
    
}
#head>#text{
    /* float: left; */
    margin-left: 9px;
    margin-right: auto;
}
#dp{
    border-radius: 30px;
    /* float: left; */
    /* padding: 17px; */
    margin: 10px;
}
#head>#icons{
    /* float: right; */
    border-top-right-radius: 10px;
}
.foot{
    background-image: url('chat\ background.png');
    /* background-color: rgb(118, 117, 214); */
    /* padding: 2px 2px 70px 10px; */
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
}
.foot>.type{
    background-color: #ffffff;
    padding: 15px;
    color: #647981;
    border-radius: 50px;
    flex-grow: 1;
    margin-right: 7px;
    margin-left: 10px;
    margin-bottom: 7px;
}
#emoji{
    border-radius: 100px;
    float: left;
    margin-right: 22px;
}
#attach{
    margin-right: 5px;
    /* padding-right: 70px; */
    float: right;
}
#camera{
    /* padding-left: 15px;
    padding-right: 10px; */
    /* padding-right: 70px; */
    margin-left: 15px;
    float: right;
}
#mic{
    border-radius: 100px; 
    margin-right: 10px;
    margin-bottom: 7px;
    

}

